.container{
	width:700px;
}
.nav
{
	padding-left:10px;
	padding-right:10px;
}
.date
{
	
}
.well
{
	background-color: #FECECE;

}

}
.body
{
}
#id1,#id2,#id3,#id4,#id5,#id6,#id7,#id8,#id9,#id10,#id11,#id12,#id13,#id14,#id15,#id16,#id17,#id18
{
	color:#ff1d8e;
	font-size:15px;
}
#profilePic {
	height: 250px;
	width: 200px;
}
.saema
{
	color:#ff0000;
}